<div class="col-12">
  <h3 class="mypara pt-3">Please Checkmark one of the Years :</h3>
    <div class="row">
      <div class="col-4">
      <h3>2015<input type="checkbox" class="check ml-2" ng-model="isChecked2015"></h3></div>
      <div class="col-4"><h3>2016<input type="checkbox" class="check ml-2" ng-model="isChecked2016"></h3></div>
      <div class="col-4"><h3>2017<input type="checkbox" class="check ml-2" ng-model="isChecked2017"></h3></div>
      <div class="col-12 pb-5 pt-5">
          <label for="search">Search By Team/Date</label>
          <input ng-model="teamSearch" id="search" class="form-control" placeholder="Search By Team/Date">        
      </div>
    </div>
</div>

<div style="display:none;" ng-if="isChecked2015==true && isChecked2016!=true && isChecked2017!=true">
  <div ng-init="vm.year = 2015; vm.loop = vm.data2015;"></div>
</div>
<div style="display:none;" ng-if="isChecked2016==true && isChecked2015!=true && isChecked2017!=true">
    <div ng-init="vm.year = 2016; vm.loop = vm.data2016;"></div>
</div>
<div style="display:none;" ng-if="isChecked2017==true && isChecked2016!=true && isChecked2015!=true">
  <div ng-init="vm.year = 2017; vm.loop = vm.data2017;"></div>
</div>
<div style="display:none;" ng-if="isChecked2015==true && isChecked2016==true && isChecked2017!=true">
  <div ng-init="vm.year = [2015, 2016]; vm.loop = vm.data2015.concat(vm.data2016);"></div>
</div>
<div style="display:none;" ng-if="isChecked2015!=true && isChecked2016==true && isChecked2017==true">
  <div ng-init="vm.year = [2016, 2017]; vm.loop = vm.data2016.concat(vm.data2017);"></div>
</div>
<div style="display:none;" ng-if="isChecked2015==true && isChecked2016!=true && isChecked2017==true">
  <div ng-init="vm.year = [2015, 2017]; vm.loop = vm.data2015.concat(vm.data2017);"></div>
</div>
<div style="display:none;" ng-if="isChecked2015==true && isChecked2016==true && isChecked2017==true || isChecked2015!=true && isChecked2016!=true && isChecked2017!=true">
  <div ng-init="vm.year = [2015, 2016, 2017]; vm.loop = vm.totaldata;"></div>
</div>

<div class="table-responsive" dir-paginate="data in results = (vm.loop | filter: teamSearch) | itemsPerPage:2"  class="col-12 text-center" ng-show="isChecked2015 || isChecked2016 || isChecked2017 || isChecked2015!=true && isChecked2016!=true && isChecked2017!=true">
    <h3>Displaying for Year : {{vm.year}}</h3>
    <table class="table table-sm table-dark opac" ng-if="vm.eachDateCheck(data.matches, vm.year)">
      <thead>
        <tr>
        <th scope="col" class="p-3">Date</th>
        <th scope="col" class="p-3">Team1</th>
        <th scope="col" class="p-3">Score</th>
        <th scope="col" class="p-3">Team2</th>
        <th scope="col" class="p-3">Winner Team</th>
        </tr>
      </thead>
      <div ng-if="vm.eachDateCheck(data.matches, vm.year)"><div class="alert alert-info" role="alert"><h3>{{data.name}}</h3></div>
        <tbody>
         
          <tr ng-repeat="matchday in data.matches | filter:teamSearch" ng-if="vm.rowDateCheck(matchday.date.slice(0,4), vm.year)">
          <td class="p-3">{{matchday.date}}</td>
          <td class="p-3">{{matchday.team1.name}}</td>
          <td class="p-3"><span ng-class="{won: matchday.score1 > matchday.score2, lost:matchday.score1 < matchday.score2, equal:matchday.score2 == matchday.score1}">{{matchday.score1}}</span><span class="vs">VS</span><span ng-class="{won: matchday.score2 > matchday.score1, lost:matchday.score2 < matchday.score1, equal:matchday.score2 == matchday.score1}">{{matchday.score2}}</span></td>
          <td class="p-3">{{matchday.team2.name}}</td>
          <td class="p-3" ng-show="matchday.score1 > matchday.score2">{{matchday.team1.name}}</td>
          <td class="p-3" ng-show="matchday.score2 > matchday.score1">{{matchday.team2.name}}</td>
          <td class="p-3" ng-show="matchday.score1 == matchday.score2">Draw</td>
          </tr>
        </tbody>
      </div>
    </table>
</div>

<dir-pagination-controls ng-show="isChecked2015==true || isChecked2016==true || isChecked2017==true || isChecked2015!=true && isChecked2016!=true && isChecked2017!=true" template-url="angular/templates/pagination.html"></dir-pagination-controls>